datawave2/target/META-INF/mule-src/datawave2/src/main/mule/datawave2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="8646b73a-7335-433d-9cac-e5aacc72c622" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="datawave1Flow" doc:id="2d87e7fe-19ef-46c1-a99e-ae3ba27d4688" >
		<http:listener doc:name="Listener" doc:id="eea65a8d-db68-4bfc-a883-710d8761151b" path="/datawave2" config-ref="HTTP_Listener_config"/>
		<ee:transform doc:name="Transform Message" doc:id="941b798d-cd14-4a8b-b0b9-57d33795d0c2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---

payload.age
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	</mule>
